body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('Images\\placeholder.jpg')

}

/* Main title at top of page */
#title-text {
    font-size: 3em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(179, 23, 12);
    border: 10px solid rgb(220, 233, 245);
    border-radius:10px;
    background-color: rgb(248, 248, 248);
    text-align: center;
    
}

/*This is the basic container */
.box {
    width: 500px;
    height: 500px;
    border: 10px solid rgb(220, 233, 245);
    border-radius: 10px;
    margin:5%;
    padding:15px;
    background-color: rgb(248, 248, 248);
}

.box-text {
    line-height: 20px;
    align-self:center;
    margin: 0 auto;
    text-align: center;
}

/* Standard */
h1{
    font-size: 2em;
}

h2{
    font-size: 1.7em;
}

h3{
    font-size: 1.2em
}

/* Menu Object CSS stuff */
.menu-list {
    font-size: 1.5em;
}

#menu-box {
    margin-top: 35px;
}



/* Contact Box */
#contact-box {
    width: 300px;
    height: 200px;
}